DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=Tutorial_python

PORT=5000
DIRECTION=http://localhost
PORTFRONT=5173

JWT_SECRET=superclave123

EMAIL_USER=
EMAIL_PASSWORD=

GOOGLE_APPLICATION_CREDENTIALS=./google-service-account.json
GOOGLE_DRIVE_PARENT_FOLDER_ID=