@import "../../modalsBase.css";

.edit-contenido-modal .modal-content h3 {
  margin-bottom: 1rem;
  color: #14532d;
}

.edit-contenido-modal form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit-contenido-modal select,
.edit-contenido-modal input[type="file"] {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 0.5rem;
}
