html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-base);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/* Layout principal */
.App {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; /* permite crecer */
  width: 100%;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  transition: all 0.3s ease;
}

/* Layout interno (sidebar + contenido) */
.layout {
  display: flex;
  flex: 1 0 auto; /* se adapta al contenido */
  width: 100%;
  background-color: var(--color-fondo);
  padding-top: var(--navbar-height);
}

/* Sidebar */
.sidebar {
  width: var(--sidebar-width);
  background-color: var(--fondo-input);
  padding: var(--espacio-lg) var(--espacio-md);
  box-shadow: var(--sombra-lg);
  border-radius: var(--radio-lg);
  display: flex;
  flex-direction: column;
  gap: var(--espacio-md);
}

/* Contenido principal */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 70px;      
  padding: var(--espacio-xl);  
  min-height: 100vh;
  background-color: var(--fondo);
  transition: margin-left 0.3s ease;
}


/* Contenedor interno */
.page-container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--espacio-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer */
.footer {
  background-color: var(--color-footer);
  color: var(--color-texto-dark);
  padding: calc(var(--espacio-md) + 5px);
  text-align: center;
  width: 100%;
  min-height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* evita que se reduzca */
}

/* Responsive */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .page-container {
    padding: var(--espacio-md);
  }
}
